.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "hello img1";
}

.hello {
    grid-area: hello;
    //border: 1px solid;
    padding-top: 9%;
    //padding-left: 10%;
    text-align: left;
    font-family:monospace;
}
.img1 {
    grid-area:img1;
    //filter: brightness(2);
    //border: 1px solid;
    //background-image: radial-gradient(circle, rgb(255, 255, 255), rgb(71, 118, 165), rgba(7,21,33,1) 60%);
    display: flex;
    flex-direction: row-reverse;
}

.dude-png {
    height: 500px;
    width: 430px;
    background-image: radial-gradient(circle, rgb(255, 255, 255), rgb(71, 118, 165), rgba(7,21,33,1) 60%);
}

.tab {
    padding-left: 8%;
}

p {
    font-size: 50px;
}

.intro {
    opacity: 95%;
    font-size: 17px;
    //margin-bottom: -1.6em;
}

.name {
    line-height: 100%;
    margin-top: 0.6em;
}
.name2 {
    font-size: 45px;
    line-height: 100%;
    margin-bottom: 0.6em;
}

.last {
    font-size: 25px;
}

.silver {
    color: rgb(201, 201, 201);
}

.div-txt {
    font-size: 25px;
    font-weight: 800;
}

.orange {
    color: orange;
    font-weight: 800;
}

.web {
    font-size: 35px;
}

.btn {
    background-color: orange;
    color: black;
    padding-top: 1px;

}
.line-wrap {
    color:orange;
}
.line {
    margin-left: -1.8px;
}

.assets {
    color: orange;
    opacity: 100%;
}



@media only screen and (max-width: 500px) {

    .container {
        margin-top: 0;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "hello";
        display: flex;
        align-items: center;
    }
    .img1 {
        display: none;
    }
    .tab {
        padding-left: 5%;
    }
    .hello {
        //padding-top: 30%;
    }
}