.title {
    font-size: 38px;
    color: whitesmoke;
}

p {
    font-size: 17px;
}

.grey {
    opacity: 75%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "side1 about side2";
}

.line-wrap {
    color:orange;
}
.line {
    margin-left: -10px;
}

#side1 {
    grid-area: side1;
}

#side2 {
    grid-area: side2;
}