a {
    color:aqua;
}

h1 {
    margin-top: 0.6em;
    font-size: 2em;
}

.grey {
    opacity: 75%;
}

.orange {
    color: orange;
}

img {
    width: 100%;
    border-radius: 4px;
}

h2 {
    opacity: 90%;
}