<h1> <span class="grey">&#60;</span> Notes <span class="grey">/></span> </h1>
<p>
    Created using: <span class="orange">HTML/CSS</span>, <span class="orange">Angular</span>,
        <span class="orange">TypeScript</span>, <span class="orange">Firebase</span>, <span class="orange">Python</span>,
        <span class="orange">Postgres SQL</span>
</p>

<p>
    I developed Rank<span class="grey">2</span>Earn in order to solve a specific business problem. During last year's crypto
    bull run, blockchain games - also known as 'play to earn' games - gained a lot of attention. As a result, sites like
    <a href="https://playtoearn.net/blockchaingames">playtoearn.net</a> got a lot of traffic from people trying to catch
    promising projects at an early stage. However, I couldn't find a way to check and compare community growth from all 
    these different projects - especially their discord server growth.
</p>
<p>
    That's the problem Rank<span class="grey">2</span>Earn solves. It keeps daily track of the projects' 
    Twitter and Discord. This way users can sort through and see which ones are growing fastest, have the biggest
    community or have staled their growth.
</p>