.main_container {
    color: white;
    display:grid;
    grid-template-columns: 1.1fr 5fr 1.1fr;
    grid-template-rows: 5vh 70vh 7vh 80vh 80vh 80vh 60vh 80vh 80vh;
    grid-template-areas: 
        "side1 nav side2"
        "side1 greetings side2"
        "side1 project-txt side2"
        "side1 p1 side2"
        "side1 p2 side2"
        "side1 p3 side2"
        "side1 about side2"
        "side1 chat side2"
        "side1 contact side2";
    text-align: center;

}

nav {
    text-align: end;
    grid-area: nav;
    font-size: 25px;
}

#side1 {
    //background: rgb(72, 255, 72);
    grid-area: side1;
}
#side2 {
    //background: rgb(72, 197, 235);
    grid-area: side2;
}
#greetings {
    grid-area: greetings;
    //background-image: url("/assets/dev2.png")
}
#project-txt {
    background: rgb(60, 98, 60);
    grid-area: project-txt;
}
#p1 {
    background: rgb(135, 101, 238);
    grid-area: p1;
}
#p2 {
    background: rgb(93, 71, 160);
    grid-area: p2;
}
#p3 {
    background: rgb(31, 23, 55);
    grid-area: p3;
}
#about {
    background: rgb(196, 181, 239);
    grid-area: about;
}
#chat {
    background: rgb(44, 66, 44);
    grid-area: chat;
}
#contact {
    background: rgb(138, 208, 138);
    grid-area: contact;
}

@media only screen and (max-width: 500px) {
    .main_container {
        grid-template-columns: 1fr;
        grid-template-rows: 7vh 80vh 7vh 80vh 80vh 80vh 60vh 80vh 80vh;
        grid-template-areas: 
            "nav"
            "greetings"
            "project-txt"
            "p1"
            "p2"
            "p3"
            "about"
            "chat"
            "contact";
    }
}