.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7vh auto auto;
    grid-template-areas: 
        "header"
        "video"
        "description";
    text-align: left;
}

header {
    grid-area: header;
    //border: 1px solid;
    font-size: 40px;

    display: flex;
    flex-direction: row-reverse;
    gap:.1em;

}

.video {
    grid-area: video;
    //border: 1px solid;
}

video {
    width: 100%;
    height: auto;
    border-radius: 1px;
}

.description {
    //border: 1px solid;
    font-size: 17px;
}

.grey {
    opacity: 75%;
    font-size: 30px;
}

.tab {
    padding-left: 4%;
}

.bold {
    font-weight: 500;
}

.subcontainer {
    grid-area: description;
    display: flex;
    flex-direction: column;
}

.toggler {
    border: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 6px;
    margin-top: 7px;
}

.orange {
    color:orange;
}

.big {
    font-size: 60px;
}

.name {
    margin-right: auto;
}



@media only screen and (max-width: 500px) {

    video {
        width: 100%;
    }
}