<div class="container">
    <header>
        
        <div>
            <a href="https://github.com/R-V-F/rank2e">
                <img src="assets/gh4.png" alt="" class="icon">
            </a>
        </div>
        <div>
            <a href="https://rank2earn.firebaseapp.com/">
                <img src="assets/live.png" alt="" class="icon">
            </a>
        </div>
        <div class="name">
            <br>
            2.<span class="">Rank</span><span class="big grey">2</span><span class="">Earn</span>
            <br> 
        </div>
    </header>
    <div class="subcontainer">
        <mat-button-toggle-group class="toggler">
            <mat-button-toggle checked (change)="toggleShort()"><span class="bold">Short</span></mat-button-toggle>
            <mat-button-toggle  (change)="toggleLong()"><span class="bold">Long</span></mat-button-toggle>
        </mat-button-toggle-group>
        <div class="description" mat-elevation-z9>
            <app-long2 *ngIf="long_dscr"></app-long2>
            <app-short2 *ngIf="!long_dscr"></app-short2>
        </div>
    </div>

    <div class="video">
        <video src="assets/r2e_demo.mp4" controls></video>
    </div>
</div>
